<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin page</title>
<link rel="stylesheet" type="text/css" href="../css/adminHomePage.css">
</head>
<body>
<div class="topnav">
		<b class="paragraph">Welcome <span th:text="${session.user.getUsername()}"></span></b>
		<a th:href="@{/Logout}" class="active">Logout</a> 
</div>	
<div class="newProduct">
	<span class="text" > <a th:href="@{/Admin/GetCreationPage}"> <b>Click</b> </a> to create a new product of the day </span>
</div>
	<div class="productTable" th:if="${not #lists.isEmpty(adminProducts)}">
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Image</th>
					<th>Date</th>
					<th>Inspection page</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${adminProducts}">
					<td th:text="${product.name}">Mock name</td>
					<td><img th:src="@{${product.image}}" class="image"/></td>
					<td th:text="${#dates.format(productDays.get(__${product.idproduct}__), 'dd/MMM/yyyy')}">Mock date</td>
					<td>
						<a th:href="@{/Admin/GetInspectionPage(idproduct=${product.idproduct})}">More info</a>
					</td>
					<td>
						<!-- checking if the date is right to allow deletion -->
						 
						<span th:if="${productDays.get(__${product.idproduct}__).before(#dates.createToday())}">
							<a th:href="@{/Admin/DeleteQuestionnaire(idproduct=${product.idproduct})}">Delete this</a>
						</span>
						<span th:if="not ${productDays.get(__${product.idproduct}__).before(#dates.createToday())}">
							Can't delete
						</span>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div th:if="${#lists.isEmpty(adminProducts)}" style="margin-left:3%">
		<p class="text">You have no products yet <a th:href="@{/Admin/GetCreationPage}" class="text">click here</a> to create a new one!</p>
	</div>

</body>
</html>