<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Questionnaire page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/questionnairePage.css}">
</head>

<body th:onload="showMarketing()">

	<div class="topnav">
		<b class="paragraph">Welcome <span th:text="${session.user.getUsername()}"></span></b>
		<a th:href="@{/Logout}" class="active">Logout</a>
	   <a th:href="@{/User/GoToLeaderBoard}">LeaderBoard</a>
	   <a th:href="@{/User/GoToUserHomePage}">HomePage</a>    
	</div>	
		
	<!--  displaying product of the day name and image at the beginning -->
	<div th:if="${product == null}">
	 	<h2 class="text" style = "margin-left: 5% "th:text = "${productErrorMsg}"></h2>
	</div>

	<div th:if="${product != null}">
		<h2 style = "text-align: center " class = "text" th:text="${product.getName() + ' is the product of the day'}"></h2>
		<img th:src="@{${product.getImage()}}" class = "image" />



		<!--  displaying questionnaire -->
		<div th:if="${questionErrorMsg != null}">
		 	<h2 class="text" style = "margin-left: 5% "th:text = "${questionErrorMsg}"></h2>
		</div>
		
		
		<div th:if="${questionErrorMsg == null}">	
			<form action="#" th:action="@{/User/InsertAnswers}" method="POST">
				
				<!--  displaying marketing questions first -->
				<div class="section" id="marketing_section">
					<h3>First section: Marketing questions</h3>
					<p>Please provide an answer to all the questions below. This section is mandatory.</p>
						
					<fieldset>
						<div th:each="q : ${questions}">
							<p th:text="${q.text}"></p>
							<input type="text" th:name="${q.idquestion}" class="questionInput" required />
						</div>
							
						<!-- Mi passo come hidden values il numero di domande e il primo ID delle domande -->
						<input type="hidden" th:value="${questionsNumber}" name="questionsNumber" />
						<input type="hidden" th:value="${firstIndex}" name="firstIndex" />
					</fieldset>
						
					<button type="button" th:onclick="ValidateMarketingSection()">Next</button>
					<span><a class="fakeButton" th:href="@{/User/InsertInteraction}">Cancel</a> </span>
				</div>
				
				<!--  displaying statistical questions seconds -->
				<div class="section" id="statistical_section">
					<h3>Second section: Statistical questions</h3>
					<p>Answer carefully, you will get a point for each question answered! </p>
					
					<fieldset>
						<p>Specify your gender:</p>
						<input type="radio" id="male" name="sex" value="male">
						<label for="male">Male</label><br>
						<input type="radio" id="female" name="sex" value="female">
						<label for="female">Female</label><br>
						<input type="radio" id="other" name="sex" value="other">
						<label for="other">Other</label>
						
						<p>Specify your age:</p>
						<select name="age" th:field="*{percentage}">
			    			<option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">
			    			</option>
						</select>
						
						<p>Specify your expertiseLevel:</p>
						<input type="radio" id="low" name="explevel" value="low">
						<label for="male">Low</label><br>
						<input type="radio" id="medium" name="explevel" value="medium">
						<label for="female">Medium</label><br>
						<input type="radio" id="high" name="explevel" value="high">
						<label for="other">High</label>
						
					</fieldset>
					<input type="hidden" th:value="${questionnaireId}" name="questionnaireId"/>
					
					<span><button type="button" th:onclick="showMarketing()">Previous</button></span>
					<span><a class="fakeButton" th:href="@{/User/InsertInteraction}">Cancel</a> </span>
					<span><input type="submit" name="Submit"></span>
	
				</div>
			</form>
		</div>	
	</div>
	
	<script>
		function showMarketing() {
			document.getElementById("marketing_section").style.display = "block";
			document.getElementById("statistical_section").style.display = "none";
		}
		
		function ValidateMarketingSection() {
			var x, i;
			x = document.querySelectorAll(".questionInput");
			 
			for (i = 0; i < x.length; i++) {
			  	
				var value = x[i].value;
			    if (value == "" || value == " ") {
			    	alert("Marketing Questions are MANDATORY. Please fill them up.");
			    	return false;
			  	}
			}
			
			document.getElementById("marketing_section").style.display = "none";
			document.getElementById("statistical_section").style.display = "block";
		} 
	</script>
</body>
</html>